  body {
    margin: 0;
  }
  .scene {
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
  }
  .scene.one{
    background-image: url(./images/set7.jpg);
  }
  .scene.two{
    background-image: url(./images/set6.jpg);
  }
  .scene.three{
    background-image: url(./images/set4.jpg);
  }
  .scene header{
    color:white;
    max-width: 80%;
    position: relative;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    font-size:1.5rem;
    text-align: center;
  }
  .scene header h1{
    font-size:4rem;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  .one{

    font-size:8rem;
  }
  section{
    background-color: rgb(255,0,0,0.2);
  }
  .scene header h1:after{
    content:'';
    border-bottom:1px solid white;
    width:8rem;
    display: block;
    margin:0 auto;
    margin-top:1rem;
  }


.control{
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
  position: fixed;
  bottom:0;
  width:100%;
  height: 3rem;
  padding:0 1rem;
}
.control ul{
  list-style: none;
  padding-left:0;
}
.control li{
  display:inline-block;
  padding:0 0.5rem;
}
.control a{
    font-size: 1.5rem;
  color:white;
  text-decoration: none;
}
.control a:hover{
  color:gray;
}
.control>*{
  display: inline-block;
}
.control .player{
  position: absolute;
  right:1.5rem;
}
.control .player a{
  font-size:2rem;    
}
.control .player a:hover{
  color:gray;
}
.control .player a>span{
  display: none;
}
